* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* _____________________________________________________________Start________________________________________________ */

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}
.header {
    width: 100%;
    background: #F7EBFF;
    position: relative;

}

.sec {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:  #F7EBFF;
}

.nav{
    z-index: 2;
}



.logo img {
    width: 120px;
}

.list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
}

.list li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #535057 ;
    letter-spacing: 0.12em;
    font-weight: bold;
    padding: 10px;
}

.list li a:hover{
    background: #00C8A1;
    color: #e7e7e7;
}

.icon{
    display: none;
    z-index: 111;
}

.icon .open,
.icon .close{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
    
}



/* ____________________________________________________-Cont Start_____________________________________________________________*/


.cont {
    display: flex;
    background: #D9816B;
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    align-items: center;
    


}

.first {
    position: relative;
    left: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profpic {
    width: 100%;
    height: 30vh;
    display: inline-block;
    

}

.profpic img {
    
    height: 30vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
}


.abt {
    padding: 10px 30px;
    width: 60%;
    color: #fff;


}

.abt h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;

}

.abt span {
    color: yellow;

}

.abt .info-abt {
    font-size: 1.3em;
    text-align: center;
}

.abt p {

    font-size: 1em;
    text-align: justify;
    text-indent: 25px;
    text-transform: capitalize;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.second {
    width: 40%;
    height: 60vh;
    position: relative;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.skils {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.head-2 {
    text-align: center;
    font-size: 1em;
    font-style: oblique;
    color: white;

}



.skils button {
    width: 40%;
    padding: 15px 0;
    transition: 0.5s;
    font-size: 1em;
    font-weight: bold;
}

.skils button:hover {
    width: 45%;
    font-size: 1.2em;
    font-weight: 600;
    background: #00C8A1;
    color: #ebebf5;
}

.head-2:hover {
    font-style: normal;
}

.second:hover {
    background: #eeeeee;
    border-radius: 10px;
    border: 1px solid white;


}

.second:hover > .head-2{
    color: #3B3B3B;
}


/* ______________________________________________Media Quarize_____________________________________________________ */

@media   (max-width: 1000px) {
    
    
    .sec{
        position: relative;
    }

    .nav{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(100%);
        opacity: 1;
        visibility: visible;
        pointer-events: none;
        transition: all 0.5s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background: white;

    }

    .list{
        flex-direction: column;
        align-items: center;
    }

    .icon{
        display: block;
    }
    .icon .close{
        display: none;
    }

    .active .nav{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .icon .open{
        display: none;
    }
    .active .icon .close{
        display: block;
    }



/* .profpic img{
    width: 150px;
} */

    /* .header{
        position: relative;
        

    }
    
    
    .sec {
        width: 100%;
        height: 70vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        

        
    }

    .list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list li a {
        font-size: 0.90em;
        font-weight: bold;
    }

    .srch input {
        font-size: 0.90em;
    }

    .logo h2 {
        font-size: 1em;
    } */ 



    .cont{

        flex-direction: column;
    }


    .abt {
        width: 90%;
    }

    .abt h2 {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 10px;

    }

    .abt .info-abt {
        font-size: 0.90em;
        text-align: center;
    }

    .abt p {

        font-size: 0.70em;
        text-align: justify;
        text-indent: 25px;
        text-transform: capitalize;
        font-family: 'poppins', sans-serif;
        font-weight: bold;
    }

    .first {
        width: 100%;
        height: 60vh;

    }

    .second {
        width: 100%;
        height: 35vh;
        right: 0%;

    }

    .skils {
        margin-top: 10px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }

    .skils button {
        font-size: 0.50em;
        padding: 5px;
    }

    .profpic {
        
        height: 15vh;
        
        
    
    }
    
    .profpic img {
        
        height: 15vh;
       
    }


}

@media  (max-width: 500px) {

    /* .profpic img{
        width: 60px;
    } */
    .abt h2 {
        font-size: 1em;
    }

    .abt .info-abt {
        font-size: 0.80em;
    }

    .abt p {
        font-size: 0.50em;
    }

    .skils button {
        font-size: 0.50em;
        padding: 5px;
    }

    .second {
        height: 30vh;
    }

    .first {
        height: 70vh;
    }
}

/* ________________________________________Second Page _______________________________________________________ */






/* _____________________________________________next page______________________________________ */





